@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/*Menu de navegacion*/
.navBar__container {
  grid-area: navBar__container;
}

.menuDeNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.navBar .menuDeNavegacion li .subrayado:hover {
  border-bottom: solid 2px white;
}

.navBar .menuDeNavegacion li a {
  text-decoration: none;
  flex-wrap: wrap;
  color: white;
  font-family: "Bungee";
  font-size: 1.5rem;
}

.navBar {
  grid-area: navBar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "logoMenuDeNavegacion__container" "menuDeNavegacion";
}

.logoMenuDeNavegacion__container {
  display: flex;
  justify-content: space-evenly;
}

.index__container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.4fr 0.6fr 2.7fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "index__margin___left navBar__container index__margin__right" "index__margin___left index__titulo__container index__margin__right" "index__margin___left index__main__container index__margin__right" "index__margin___left footer index__margin__right";
}

.index__main__container {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.8fr;
  grid-template-rows: 2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "index__formulario__container index__formulario__container index__formulario__container" "index__main__texto index__main__texto index__main__texto";
  grid-area: index__main__container;
}

.index__formulario__container {
  grid-area: index__formulario__container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "formulario__usuario__container" "botonNoRegistrarse__container";
}

.merchandise__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 6fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "merchandise__title__container" "merchandise__main__container" "footer";
}

/*cards container*/
.merchandise__main__container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "merchandise__main__margin1 merchandise__mainFilter__container merchandise__main__margin2" "merchandise__main__margin1 merchandise__cards__container merchandise__main__margin2";
  grid-area: merchandise__main__container;
}

.carritoFinal__container {
  display: grid;
  grid-template-columns: 0.5fr 2.1fr 0.4fr;
  grid-template-rows: 0.1fr 0.1fr 0.01fr 0.1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "carritoFinal__leftMargin navBar carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__titulo__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacion__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacionDeEntrega__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__pago__container carritoFinal__rightMargin";
}

/*informacion de productos en carrito*/
.carritoFinal__informacion__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.3fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "carritoFinal__informacionTitulo__container carritoFinal__informacionTitulo__container carritoFinal__informacionTitulo__container" "carritoFinal__productosInfo__container carritoFinal__productosInfo__container carritoFinal__productosInfo__container" "carritoFinal__productosSubtotal__container carritoFinal__productosSubtotal__container carritoFinal__productosSubtotal__container";
  grid-area: carritoFinal__informacion__container;
}

/*armado de container final para tarjeta y boton*/
.carritoFinal__pago__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "carritoFinal__tarjeta__container" "carritoFinal__finalizarCompra__container";
  grid-area: carritoFinal__pago__container;
}

.carritoFinal__tarjeta__container {
  grid-area: carritoFinal__tarjeta__container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "tituloYSubtitulo__container" "carritoFinal__datosDeTarjeta__container";
}

/*container de tarjeta de credito*/
.tarjeta__finalizarCompra__container {
  grid-area: tarjeta__finalizarCompra__container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagenChip__container imagenChip__container" "datosPersonayTarjeta__container datosFechasTarjeta__container";
  background-color: greenyellow;
  border-radius: 20px;
  width: 40%;
  height: 300px;
  box-shadow: 0 0 10px #fff;
}

/*Generales*/
.logoMenuDeNavegacion__container {
  display: flex;
  justify-content: space-evenly;
}

.menuDeNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  margin-left: -30px;
}

.index__titulo__container {
  grid-area: index__titulo__container;
  text-align: center;
}

/*Formulario*/
.formulario__usuario__container {
  grid-area: formulario__usuario__container;
  display: flex;
  justify-content: center;
}

.formulario__usuario__container form {
  width: 100%;
}

.botonNoRegistrarse__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Caja de card*/
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

/*container de botones para ingresar al catalogo*/
.form__botones__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/*estilo del container del boton*/
.form__botones__container div input {
  background-color: black;
  border: solid 2px white;
}

/*texto final del index*/
.index__main__texto {
  grid-area: index__main__texto;
  display: flex;
  width: 100%;
  text-align: center;
}

/*estilo del input del formulario de registro*/
.swal-input {
  margin-top: 10px;
  background: linear-gradient(to left, silver, white);
  border-radius: 10px;
}

/*contenedor de todo el formulario*/
.swal2-popup {
  width: 250px;
  height: 400px;
}

.swal2-show {
  border: 2px white solid;
}

/*margenes y footer*/
.index__margin___left {
  grid-area: index__margin___left;
}

.index__margin__right {
  grid-area: index__margin__right;
}

.footer {
  grid-area: footer;
}

/*Titulo merchndise*/
.merchandise__title__container {
  grid-area: merchandise__title__container;
  text-align: center;
}

/*cards main container*/
#merchandise__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  border: solid 2px white;
}

/*main del filtrado de productos con el search*/
.merchandise__mainFilter__container {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*contenedor del filtrado*/
.merchandise__mainFilter__container {
  grid-area: merchandise__mainFilter__container;
}

/*card*/
.card {
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: greenyellow;
  border-radius: 20px;
  margin: 15px;
}

/*informacion denrto de la card*/
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*numero del carrito de compras posicion*/
#iconCart span {
  position: absolute;
  top: 18%;
  right: 39%;
}

/*contenedor del toastify de aviso de producto agregado al carrito*/
.aviso__carritoDeCompras {
  background-color: greenyellow;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: solid 5px black;
}

/*margenes del main*/
.merchandise__main__margin1 {
  grid-area: merchandise__main__margin1;
}

.merchandise__main__margin2 {
  grid-area: merchandise__main__margin2;
}

/*titulo*/
.carritoFinal__titulo__container {
  grid-area: carritoFinal__titulo__container;
}

.carritoFinal__informacionTitulo__container {
  grid-area: carritoFinal__informacionTitulo__container;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

/*contenedor de la zona de cards del carrito final*/
.carritoFinal__container {
  border-radius: 20px;
}

/*info productos en carrito*/
#carritoFinal__productosInfo__container {
  grid-area: carritoFinal__productosInfo__container;
}

.compraFinal__informacionProducto__container {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*contenedor del total de dinero a pagar*/
#carritoFinal__productosSubtotal__container {
  grid-area: carritoFinal__productosSubtotal__container;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#carritoFinal__productosSubtotal__container div {
  border: solid 2px white;
  border-radius: 5px;
}

/*Carrito Final Formulario de entrega*/
.carritoFinal__informacionDeEntrega__container {
  grid-area: carritoFinal__informacionDeEntrega__container;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carritoFinal__informacionDeEntrega__container div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*input del formulario final*/
.carritoFinal__informacionDeEntrega__container div input {
  color: black;
  background: linear-gradient(to left, silver, white);
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}

/*container del titulo y subtitulo de datos personales*/
.tituloYSubtitulo__container {
  grid-area: tituloYSubtitulo__container;
  text-align: center;
}

/*acomodado tarjeta de credito en la pagina*/
.carritoFinal__datosDeTarjeta__container {
  display: flex;
  justify-content: center;
}

/*acomodando la imagen del chip dentro de la tarjeta*/
.imagenChip__container {
  grid-area: imagenChip__container;
  display: flex;
}

/*margenes*/
.carritoFinal__leftMargin {
  grid-area: carritoFinal__leftMargin;
}

.carritoFinal__rightMargin {
  grid-area: carritoFinal__rightMargin;
}

/*titulo principal*/
.index__titulo__container h1 {
  font-size: 3rem;
  color: white;
  font-family: "Bungee";
}

/*Titulo de formulario de registro*/
#swal2-title {
  color: black;
  font-family: "Bungee";
}

.merchandise__title__container h1 {
  color: white;
  font-family: "Bungee";
  font-size: 3rem;
}

/*titulo del taostify de avso de agregado de producto al carrito*/
.aviso__carritoDeCompras h4 {
  font-family: "Bungee";
  font-weight: 300;
}

/*titulo y subtitulo de  datos de tarjeta*/
.tituloYSubtitulo__container h2 {
  color: white;
  font-family: "Bungee";
  font-size: 2.5rem;
}

/*Formulario*/
.texto__completarCamposRegistro {
  font-family: "Russo One";
}

/*estilo de texto label*/
.box label {
  color: white;
  font-family: "Bungee";
  font-size: 1.5rem;
}

/*estilo de texto dentro de los inputs*/
.box input {
  font-family: "Russo One";
  background: linear-gradient(to left, silver, white);
  border-radius: 5px;
  width: 50%;
  height: 3rem;
  text-align: center;
}

/*Estilo de texto de botones*/
.form__botones__container div input {
  color: white;
  font-family: "Bungee";
}

/*texto final del index*/
.index__main__texto p {
  font-family: "Russo One";
  color: white;
  font-size: 1.5rem;
}

/*texto de los inputs del formulario de registro*/
.swal-input {
  font-family: "Russo One";
}

/*informacion dentro de las cards*/
.card-content {
  font-family: "Bungee";
  font-size: 1rem;
}

/*texto en el buscador*/
#buscador {
  width: 80%;
  font-family: "Bungee";
  border-radius: 10px;
}

/*numeo del carrito de compras*/
#iconCart {
  color: black;
  font-family: "Bungee";
  font-size: 20px;
  position: relative;
}

/*texto de toastify de aviso de producto agregado al carrito*/
.aviso__carritoDeCompras p {
  font-family: "Russo One";
}

/*texto de toastify de agregado con exito al carrito*/
.toastify {
  color: black;
  font-family: "Bungee";
}

/*texto de la informacion de los productos en carrito*/
.carritoFinal__informacionTitulo__container li {
  color: white;
  font-family: "Bungee";
  font-size: 2rem;
}

.compraFinal__informacionProducto__container li {
  color: black;
  font-weight: bolder;
  font-family: "Russo One";
  list-style-type: none;
}

/*numero de monto a pagar*/
#carritoFinal__productosSubtotal__container div p {
  color: black;
  font-family: "Russo One";
  color: white;
  font-size: 1.5rem;
}

/*Carrito Final Formulario de entrega*/
.carritoFinal__informacionDeEntrega__container div h3 {
  font-family: "Bungee";
  color: white;
  font-size: 2.5rem;
}

.carritoFinal__informacionDeEntrega__container div p {
  font-family: "Russo One";
  color: white;
  font-size: 1.5rem;
}

/*label de escritura par el formulario final*/
.carritoFinal__informacionDeEntrega__container div label {
  font-family: "Bungee";
  color: white;
}

/*input de llenado para el formulario final*/
.carritoFinal__informacionDeEntrega__container div input {
  font-family: "Russo One";
}

/*texto despues del titulo de los datos de tarjeta de credito*/
.tituloYSubtitulo__container p {
  color: white;
  font-family: "Russo One";
  font-size: 1.5rem;
}

.botonNoRegistrarse__container input {
  background-color: black;
  border: solid 2px white;
  color: white;
  font-family: "Bungee";
}

.botonNoRegistrarse__container input:hover {
  background-color: white;
  border: solid 2px black;
  color: black;
  font-family: "Bungee";
}

/*pseudo clase de botones de ingreso al catalogo*/
.form__botones__container div input:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
  font-family: "Bungee";
}

/*boton comprar en las cards*/
.btnComprar {
  font-family: "Bungee";
  background-color: black;
  border: solid white 2px;
  color: white;
}

.btnComprar:hover {
  font-family: "Bungee";
  background-color: white;
  border: solid black 2px;
  color: black;
}

/*boton eliminar*/
.btnEliminar {
  font-family: "Bungee";
  background-color: black;
  border: solid white 2px;
  color: white;
}

.btnEliminar:hover {
  font-family: "Bungee";
  background-color: white;
  border: solid black 2px;
  color: black;
}

#carritoFinal__productosInfo__container div div {
  margin-left: 190px;
}

/*acomodado de la imagen del chip dentro del container de la tarjeta*/
.imagenChip__container img {
  margin-top: 20px;
  padding-left: 40px;
}

/*carrito logo*/
.merchandise__carritoLogo {
  width: 140px;
  height: 80px;
}

/*imagen de producto en card*/
.card-image img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
}

/*imagen de producto en el carrito final */
.compraFinal__informacionProducto__container img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*imagen del chip dentro de la tarjeta de credito*/
.imagenChip__container img {
  width: 40px;
  height: 40px;
}

/*Logo menu de navegacion*/
@media (max-width: 1024px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .navBar .menuDeNavegacion li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 555px) {
  .navBar .menuDeNavegacion li a {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) {
  .logoMenuDeNavegacion__container a img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .logoMenuDeNavegacion__container a img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 555px) {
  .logoMenuDeNavegacion__container a img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .index__container {
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    grid-template-rows: 0.4fr 0.6fr 2.7fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "index__margin___left navBar__container index__margin__right" "index__margin___left index__titulo__container index__margin__right" "index__margin___left index__main__container index__margin__right" "index__margin___left footer index__margin__right";
  }
}
/*Titulo principal*/
@media (max-width: 1024px) {
  .index__titulo__container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .index__titulo__container h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 555px) {
  .index__titulo__container h1 {
    font-size: 1.5rem;
  }
}
/*Botones Ingreso*/
@media (max-width: 1024px) {
  .botonNoRegistrarse__container input {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .botonNoRegistrarse__container input {
    font-size: 0.85rem;
  }
}
@media (max-width: 555px) {
  .botonNoRegistrarse__container input {
    font-size: 0.65rem;
  }
}
/*Label de los input del formulario*/
@media (max-width: 1024px) {
  .box label {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .box label {
    font-size: 1.1rem;
  }
}
@media (max-width: 555px) {
  .box label {
    font-size: 0.9rem;
  }
}
/*input del formulario de ingreso de usuario*/
@media (max-width: 1024px) {
  .box input {
    width: 45%;
    height: 2.7rem;
  }
}
@media (max-width: 768px) {
  .box input {
    width: 40%;
    height: 2.3rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 555px) {
  .box input {
    height: 2.1rem;
    font-size: 1rem;
  }
}
/*tamañano de letras del texto dentro de los inputs*/
@media (max-width: 1024px) {
  .form__botones__container div input {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .form__botones__container div input {
    font-size: 0.85rem;
  }
}
@media (max-width: 555px) {
  .form__botones__container div input {
    font-size: 0.65rem;
  }
}
/*tamañano texto final del index*/
@media (max-width: 1024px) {
  .index__main__texto p {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .index__main__texto p {
    font-size: 1.1rem;
  }
}
@media (max-width: 555px) {
  .index__main__texto p {
    font-size: 0.9rem;
  }
}
/*Titulo Principal*/
@media (max-width: 1024px) {
  .merchandise__title__container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .merchandise__title__container h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 555px) {
  .merchandise__title__container h1 {
    font-size: 1.5rem;
  }
}
/*texto y container del buscador*/
@media (max-width: 1000px) {
  #buscador {
    font-size: 1rem;
  }
}
@media (max-width: 750px) {
  #buscador {
    font-size: 0.9rem;
  }
}
@media (max-width: 350px) {
  #buscador {
    font-size: 0.8rem;
    width: 100%;
  }
}
/*imagen de carrito*/
@media (max-width: 1000px) {
  .merchandise__carritoLogo {
    width: 120px;
    height: 60px;
  }
}
@media (max-width: 750px) {
  .merchandise__carritoLogo {
    width: 110px;
    height: 50px;
  }
}
@media (max-width: 350px) {
  .merchandise__carritoLogo {
    width: 90px;
    height: 50px;
  }
}
/*acomodado del numero dentro del carrito*/
@media (max-width: 1000px) {
  #iconCart span {
    top: 5%;
  }
}
@media (max-width: 750px) {
  #iconCart span {
    font-size: 1.8rem;
    right: 34%;
  }
}
@media (max-width: 350px) {
  #iconCart span {
    font-size: 1.5rem;
    top: 10%;
    right: 32%;
  }
}
/*Contentedor de cards-dinamicas*/
@media (max-width: 580px) {
  #merchandise__cards__container {
    justify-content: center;
  }
}
/*card*/
@media (max-width: 1000px) {
  .card {
    width: 200px;
    height: 250px;
  }
}
@media (max-width: 750px) {
  .card {
    width: 180px;
    height: 220px;
  }
}
@media (max-width: 650px) {
  .card {
    width: 160px;
    height: 200px;
  }
}
/*imagen de producto en las cards*/
@media (max-width: 1000px) {
  .card-image img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 650px) {
  .card-image img {
    width: 70px;
    height: 70px;
  }
}
/*tamaño de letra en el boton comprar en las cards*/
@media (max-width: 1000px) {
  .btnComprar {
    font-size: 1rem;
  }
}
/*containers*/
@media (max-width: 480px) {
  .carritoFinal__container {
    display: grid;
    grid-template-columns: 0.1fr 2.1fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 0.01fr 0.1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "carritoFinal__leftMargin navBar carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__titulo__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacion__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacionDeEntrega__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__pago__container carritoFinal__rightMargin";
  }
}
/*texto de la informacion de los productos en carrito*/
.carritoFinal__informacionTitulo__container li {
  color: white;
  font-family: "Bungee";
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .carritoFinal__informacionTitulo__container li {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .carritoFinal__informacionTitulo__container li {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .compraFinal__informacionProducto__container li {
    font-size: 0.8rem;
  }
}
/*imagen de producto en carrito de compras*/
@media (max-width: 1024px) {
  .compraFinal__informacionProducto__container img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 768px) {
  .compraFinal__informacionProducto__container img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 480px) {
  .compraFinal__informacionProducto__container img {
    width: 40px;
    height: 40px;
  }
}
/*tamaño de letra en el boton eliminar de los productos en carrito*/
@media (max-width: 950px) {
  .btnEliminar {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .btnEliminar {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .btnEliminar {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .btnEliminar {
    font-size: 0.6rem;
  }
}
/*tamaño de letra del monto a pagar*/
@media (max-width: 1024px) {
  #carritoFinal__productosSubtotal__container div p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #carritoFinal__productosSubtotal__container div p {
    font-size: 1rem;
  }
}
/*Carrito Final Formulario de entrega*/
@media (max-width: 1024px) {
  .carritoFinal__informacionDeEntrega__container div h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .carritoFinal__informacionDeEntrega__container div h3 {
    font-size: 2rem;
  }
}
/*tamaño de letra del parrafo del formulario de entrega*/
@media (max-width: 1024px) {
  .carritoFinal__informacionDeEntrega__container div p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .carritoFinal__informacionDeEntrega__container div p {
    font-size: 1rem;
  }
}
/*container de tarjeta de credito*/
@media (max-width: 1300px) {
  .tarjeta__finalizarCompra__container {
    width: 50%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .tarjeta__finalizarCompra__container {
    width: 70%;
    height: 270px;
  }
}
@media (max-width: 600px) {
  .tarjeta__finalizarCompra__container {
    width: 85%;
    height: 230px;
  }
}
@media (max-width: 480px) {
  .tarjeta__finalizarCompra__container {
    width: 100%;
    height: 230px;
  }
}
/*titulo de datos de la tarjeta*/
@media (max-width: 1024px) {
  .tituloYSubtitulo__container h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .tituloYSubtitulo__container h2 {
    font-size: 2rem;
  }
}
/*texto despeus del titulo de la tarjeta de credito*/
@media (max-width: 1024px) {
  .tituloYSubtitulo__container p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .tituloYSubtitulo__container p {
    font-size: 1rem;
  }
}
.datosPersonayTarjeta__container {
  grid-area: datosPersonayTarjeta__container;
  display: flex;
  flex-direction: column;
}

.datosPersonayTarjeta__container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.datosPersonayTarjeta__container div label {
  font-family: "Bungee";
  color: grey;
}

.datosPersonayTarjeta__container div input {
  background-color: greenyellow;
  margin-bottom: 5px;
  width: 80%;
  height: 20px;
  font-family: "Russo One";
  border: none;
  border-bottom: 2px solid silver;
  text-align: center;
  outline: none;
}

/*Formulario Tarjeta- Titulo de label por encima de input*/
/*input nombre*/
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container {
  position: relative;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container label {
  position: absolute;
  bottom: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:focus ~ label,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:valid ~ label {
  transform: translateY(-20px);
  font-size: 10px;
  color: black;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container .underline {
  position: absolute;
  bottom: 5px;
  height: 2px;
  width: 100%;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 85%;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:focus ~ .underline:before,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:valid ~ .underline:before {
  transform: scaleX(1);
}

/*Input numero de tarjeta*/
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container {
  position: relative;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input {
  margin-top: 25px;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container label {
  position: absolute;
  bottom: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:focus ~ label,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:valid ~ label {
  transform: translateY(-20px);
  font-size: 10px;
  color: black;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container .underline {
  position: absolute;
  bottom: 5px;
  height: 2px;
  width: 100%;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 85%;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:focus ~ .underline:before,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:valid ~ .underline:before {
  transform: scaleX(1);
}

/*Input cvc de tarjeta*/
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container {
  position: relative;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input {
  margin-top: 25px;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container label {
  position: absolute;
  bottom: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:focus ~ label,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:valid ~ label {
  transform: translateY(-20px);
  font-size: 10px;
  color: black;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container .underline {
  position: absolute;
  bottom: 5px;
  height: 2px;
  width: 100%;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 85%;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:focus ~ .underline:before,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:valid ~ .underline:before {
  transform: scaleX(1);
}

/*Label y select de la seleccion de fechas en la tarjeta de credito*/
.datosFechasTarjeta__container {
  grid-area: datosFechasTarjeta__container;
  display: flex;
  align-items: center;
  text-align: center;
}

.datosFechasTarjeta__container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mesDevencimientoDeTarjeta__container {
  margin-bottom: 100px;
}

.mesDevencimientoDeTarjeta__container label {
  font-family: "Bungee";
  color: black;
}

.mesDevencimientoDeTarjeta__container select {
  font-family: "Russo One";
  color: white;
  background-color: black;
  border: solid 2px white;
  text-align: center;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container {
  position: relative;
  margin-bottom: 75px;
}

#anioDeVencimientoDeTarjeta {
  border: none;
  border-bottom: 2px solid silver;
  background-color: greenyellow;
  width: 30%;
  text-align: center;
  font-family: "Russo One";
  outline: none;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container label {
  position: absolute;
  bottom: 0px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-family: "Bungee";
  color: grey;
}

#anioDeVencimientoDeTarjeta:focus ~ label,
#anioDeVencimientoDeTarjeta:valid ~ label {
  transform: translateY(-21px);
  font-size: 10px;
  color: black;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 40%;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container #anioDeVencimientoDeTarjeta:focus ~ .underline:before,
.carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container #anioDeVencimientoDeTarjeta:valid ~ .underline:before {
  transform: scaleX(1);
}

.carritoFinal__finalizarCompra__container {
  grid-area: carritoFinal__finalizarCompra__container;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carritoFinal__finalizarCompra__container input {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: white solid 2px;
  font-family: "Bungee";
  color: white;
}

@media (max-width: 600px) {
  .carritoFinal__finalizarCompra__container input {
    font-size: 1.2rem;
  }
}
.carritoFinal__finalizarCompra__container input:hover {
  background-color: white;
  border: solid 2px black;
  color: black;
}

/*COMPRA FINALIZADA*/
.compraFinalizada__container {
  display: grid;
  grid-template-columns: 0.5fr 2.1fr 0.4fr;
  grid-template-rows: 0.5fr 0.5fr 2.3fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "compraFinalizada__leftMargin navBar compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__titulo__container compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__informacionCompra__container compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__texto__container compraFinalizada__rigthMargin";
}

.compraFinalizada__leftMargin {
  grid-area: compraFinalizada__leftMargin;
}

.compraFinalizada__rigthMargin {
  grid-area: compraFinalizada__rigthMargin;
}

.navBar {
  grid-area: navBar;
}

#compraFinalizada__informacionCompra__container {
  grid-area: compraFinalizada__informacionCompra__container;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compraFinalizada__texto__container {
  grid-area: compraFinalizada__texto__container;
}

.ticket__container {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
}

.ticket__container h2 {
  font-size: 2.5rem;
  font-family: "Russo One";
}

@media (max-width: 1400px) {
  .ticket__container h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1200px) {
  .ticket__container h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .ticket__container h2 {
    font-size: 1.9rem;
  }
}
@media (max-width: 768px) {
  .ticket__container h2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 480px) {
  .ticket__container h2 {
    font-size: 1.5rem;
  }
}
.ticket__container h2 b {
  font-size: 2.7rem;
  font-family: "Russo One";
}

@media (max-width: 1400px) {
  .ticket__container h2 b {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .ticket__container h2 b {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .ticket__container h2 b {
    font-size: 1.9rem;
  }
}
@media (max-width: 768px) {
  .ticket__container h2 b {
    font-size: 1.7rem;
  }
}
@media (max-width: 480px) {
  .ticket__container h2 b {
    font-size: 1.5rem;
  }
}
.ticket__container h3 {
  font-size: 2.5rem;
  font-family: "Russo One";
}

@media (max-width: 1400px) {
  .ticket__container h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1200px) {
  .ticket__container h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .ticket__container h3 {
    font-size: 1.9rem;
  }
}
@media (max-width: 768px) {
  .ticket__container h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 480px) {
  .ticket__container h3 {
    font-size: 1.5rem;
  }
}
.ticket__container h3 b {
  font-size: 2.7rem;
  font-family: "Russo One";
}

@media (max-width: 1400px) {
  .ticket__container h3 b {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .ticket__container h3 b {
    font-size: 2.3rem;
  }
}
@media (max-width: 1024px) {
  .ticket__container h3 b {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .ticket__container h3 b {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .ticket__container h3 b {
    font-size: 1.8rem;
  }
}
.ticket__container p {
  font-size: 1.5rem;
  font-family: "Russo One";
}

@media (max-width: 1400px) {
  .ticket__container p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  .ticket__container p {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .ticket__container p {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .ticket__container p {
    font-size: 0.7rem;
  }
}
.ticket__container p b {
  font-size: 1.7rem;
  font-family: "Russo One";
}

@media (max-width: 1400px) {
  .ticket__container p b {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .ticket__container p b {
    font-size: 1.3rem;
  }
}
@media (max-width: 1024px) {
  .ticket__container p b {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .ticket__container p b {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
