//INDEX


.botonNoRegistrarse__container input {
    background-color: black;
    border: solid 2px white;
    color: white;
    font-family: "Bungee";
}


.botonNoRegistrarse__container input:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
    font-family: "Bungee";
}

/*pseudo clase de botones de ingreso al catalogo*/

.form__botones__container div input:hover {
    background-color: white;
    color: black;
    border: solid 2px black;
    font-family: "Bungee";
}


//MERCHANDISE

/*boton comprar en las cards*/

.btnComprar {
    font-family: "Bungee";
    background-color: black;
    border: solid white 2px;
    color: white;
}


.btnComprar:hover {
    font-family: "Bungee";
    background-color: white;
    border: solid black 2px;
    color: black;
  }



//CAARRITO FINAL


/*boton eliminar*/ 

.btnEliminar {
    font-family: "Bungee";
    background-color: black;
    border: solid white 2px;
    color: white;
}

  
.btnEliminar:hover {
    font-family: "Bungee";
    background-color: white;
    border: solid black 2px;
    color: black;
  }
  