//Generales


/*Logo menu de navegacion*/

@media (max-width:1024px) {
    .navBar .menuDeNavegacion li a {
        font-size:1.1rem;
    }
}

@media (max-width:768px) {
    .navBar .menuDeNavegacion li a {
        font-size:0.9rem;
    }
}

@media (max-width:555px) {
    .navBar .menuDeNavegacion li a {
        font-size:0.7rem;
    }
}


@media (max-width:1024px) {
    .logoMenuDeNavegacion__container a img {
    width: 100px;
    height: 100px;
}
}

@media (max-width:768px) {
    .logoMenuDeNavegacion__container a img {
    width: 80px;
    height: 80px;
}
}

@media (max-width:555px) {
    .logoMenuDeNavegacion__container a img {
    width: 60px;
    height: 60px;
}
}



//INDEX


@media (max-width:480px) {
    .index__container {
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    grid-template-rows: 0.4fr 0.6fr 2.7fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
        "index__margin___left navBar__container index__margin__right" 
        "index__margin___left index__titulo__container index__margin__right" 
        "index__margin___left index__main__container index__margin__right" 
        "index__margin___left footer index__margin__right";
    }
}

/*Titulo principal*/

@media (max-width:1024px) {
    .index__titulo__container h1{
        font-size:2rem;
    }
}

@media (max-width:768px) {
    .index__titulo__container h1{
        font-size:1.8rem;
    }
}

@media (max-width:555px) {
    .index__titulo__container h1{
        font-size:1.5rem;
    }
}


/*Botones Ingreso*/


@media (max-width:1024px) {
    .botonNoRegistrarse__container input{
        font-size: 1rem;
    }
}

@media (max-width:768px) {
    .botonNoRegistrarse__container input{
        font-size: 0.85rem;
    }
}

@media (max-width:555px) {
    .botonNoRegistrarse__container input{
        font-size: 0.65rem;
    }
}


/*Label de los input del formulario*/


@media (max-width:1024px) {
    .box label{
        font-size: 1.3rem;
    }
}

@media (max-width:768px) {
    .box label{
        font-size: 1.1rem;
    }
}

@media (max-width:555px) {
    .box label{
        font-size: 0.9rem;
    }
}


/*input del formulario de ingreso de usuario*/

@media (max-width:1024px) {
    .box input{
        width:45%;
        height:2.7rem;
    }
}

@media (max-width:768px) {
    .box input{
        width:40%;
        height:2.3rem;
        font-size:1.2rem;
    }
}

@media (max-width:555px) {
    .box input{
        height:2.1rem;
        font-size: 1rem;
    }
}

/*tamañano de letras del texto dentro de los inputs*/

  
@media (max-width:1024px) {
    .form__botones__container div input{
      font-size:1rem;
    }
  }
  
  @media (max-width:768px) {
    .form__botones__container div input{
      font-size:0.85rem;
    }
  }
  
  @media (max-width:555px) {
    .form__botones__container div input{
      font-size:0.65rem;
    }
  }
  
  

  /*tamañano texto final del index*/

  @media (max-width:1024px) {
    .index__main__texto p{
      font-size:1.3rem;
    }
  }
  
  @media (max-width:768px) {
    .index__main__texto p{
      font-size:1.1rem;
    }
  }
  
  @media (max-width:555px) {
    .index__main__texto p{
      font-size:0.9rem;
    }
  }
  

//MERCHANDISE

/*Titulo Principal*/

@media (max-width:1024px) {
    .merchandise__title__container h1{
      font-size:2rem;
    }
  }
  
  @media (max-width:768px) {
    .merchandise__title__container h1{
      font-size:1.8rem;
    }
  }
  
  @media (max-width:555px) {
    .merchandise__title__container h1{
      font-size:1.5rem;
    }
  }
  


/*texto y container del buscador*/

@media (max-width:1000px) {
    #buscador{
      font-size: 1rem;
    }
  }
  
  @media (max-width:750px) {
    #buscador{
      font-size: 0.9rem;
    }
  }
  
  @media (max-width:350px) {
    #buscador{
      font-size: 0.8rem;
      width:100%;
    }
  }

/*imagen de carrito*/

@media (max-width:1000px) {
    .merchandise__carritoLogo{
      width:120px;
      height:60px;
    }
  }
  
  @media (max-width:750px) {
    .merchandise__carritoLogo{
      width:110px;
      height:50px;
    }
  }
  
  @media (max-width:350px) {
    .merchandise__carritoLogo{
      width:90px;
      height:50px;
    }
  }

/*acomodado del numero dentro del carrito*/



@media (max-width:1000px) {
    #iconCart span {
      top: 5%;
    }
  }
  
  @media (max-width:750px) {
    #iconCart span {
      font-size: 1.8rem;
      right:34%;
    }
  }
  
  @media (max-width:350px) {
    #iconCart span {
      font-size: 1.5rem;
      top: 10%;
      right:32%;
    }
  }
  

/*Contentedor de cards-dinamicas*/

@media (max-width:580px) {
    #merchandise__cards__container {
      justify-content: center;
    }
  }
  


/*card*/

@media (max-width:1000px) {
    .card{
        width: 200px;
      height:250px;
    }
  }
  
  @media (max-width:750px) {
    .card{
      width: 180px;
      height:220px;
    }
  }
  
  @media (max-width:650px) {
    .card{
      width: 160px;
      height:200px;
    }
  }


/*imagen de producto en las cards*/

@media (max-width:1000px) {
    .card-image img {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width:650px) {
    .card-image img {
      width: 70px;
      height: 70px;
    }
  }
  

/*tamaño de letra en el boton comprar en las cards*/

@media (max-width:1000px) {
    .btnComprar {
      font-size: 1rem;;
    }
  }

//CARRITO FINAL

/*containers*/

@media (max-width:480px) {
    .carritoFinal__container {
      display: grid;
      grid-template-columns: 0.1fr 2.1fr 0.1fr;
      grid-template-rows: 0.1fr 0.1fr 0.01fr 0.1fr 1fr;
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "carritoFinal__leftMargin navBar carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__titulo__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacion__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacionDeEntrega__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__pago__container carritoFinal__rightMargin";
    }
  }


/*texto de la informacion de los productos en carrito*/

.carritoFinal__informacionTitulo__container li {
    color: white;
    font-family: "Bungee";
    font-size: 2rem;
  }
  
  @media (max-width:1024px) {
    .carritoFinal__informacionTitulo__container li {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width:768px) {
    .carritoFinal__informacionTitulo__container li {
      font-size: 1rem;
    }
  }
  

  @media (max-width:600px) {
    
    .compraFinal__informacionProducto__container li {
      font-size:0.8rem;
    }
    }


/*imagen de producto en carrito de compras*/

@media (max-width:1024px) {
    .compraFinal__informacionProducto__container img {
      width: 70px;
      height: 70px;
    }
  }
  
  @media (max-width:768px) {
    .compraFinal__informacionProducto__container img {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width:480px) {
    .compraFinal__informacionProducto__container img {
      width: 40px;
      height: 40px;
    }
  }
  



/*tamaño de letra en el boton eliminar de los productos en carrito*/

@media (max-width:950px) {
    .btnEliminar {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    .btnEliminar {
      font-size: 1rem;
    }
  }
  
  @media (max-width:600px) {
    .btnEliminar {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width:480px) {
    .btnEliminar {
      font-size: 0.6rem;
    }
  }


/*tamaño de letra del monto a pagar*/

@media (max-width:1024px) {
    #carritoFinal__productosSubtotal__container div p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    #carritoFinal__productosSubtotal__container div p {
      font-size: 1rem;
    }
  }
  


    
  /*Carrito Final Formulario de entrega*/

  
  @media (max-width:1024px) {
    .carritoFinal__informacionDeEntrega__container div h3 {
      font-size: 2.2rem;
    }
    
  }
  
  @media (max-width:768px) {
    .carritoFinal__informacionDeEntrega__container div h3 {
      font-size: 2rem;
    }
    
  }


  /*tamaño de letra del parrafo del formulario de entrega*/


  
  @media (max-width:1024px) {
    .carritoFinal__informacionDeEntrega__container div p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    .carritoFinal__informacionDeEntrega__container div p {
      font-size: 1rem;
    }
  }
  

/*container de tarjeta de credito*/

 
@media (max-width:1300px) {
  .tarjeta__finalizarCompra__container {
    width: 50%;
    height: 300px;
  }
}

@media (max-width:768px) {
  .tarjeta__finalizarCompra__container {
    width: 70%;
    height: 270px;
  }
}

@media (max-width:600px) {
  .tarjeta__finalizarCompra__container {
    width: 85%;
    height: 230px;
  }
}

@media (max-width:480px) {
  .tarjeta__finalizarCompra__container {
    width: 100%;
    height: 230px;
  }
}


/*titulo de datos de la tarjeta*/

@media (max-width:1024px) {
  .tituloYSubtitulo__container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width:768px) {
  .tituloYSubtitulo__container h2 {
    font-size: 2rem;
  }
}


/*texto despeus del titulo de la tarjeta de credito*/

@media (max-width:1024px) {
  .tituloYSubtitulo__container p {
    font-size: 1.2rem;
  }
}

@media (max-width:768px) {
  .tituloYSubtitulo__container p {
    font-size: 1rem;
  }
}
