//CARRITO FINAL 

#carritoFinal__productosInfo__container div div {
    margin-left: 190px;
}


/*acomodado de la imagen del chip dentro del container de la tarjeta*/

.imagenChip__container img {
    margin-top: 20px;
    padding-left: 40px;
}