//INDEX

/*titulo principal*/

.index__titulo__container h1 {
    font-size: 3rem;
    color: white;
    font-family: "Bungee";
}

/*Titulo de formulario de registro*/

#swal2-title {
    color: black;
    font-family: "Bungee";
}