//INDEX

/*titulo principal*/

.index__titulo__container h1 {
    font-size: 3rem;
    color: white;
    font-family: "Bungee";
}

/*Titulo de formulario de registro*/

#swal2-title {
    color: black;
    font-family: "Bungee";
}


//MERCHANDISE 

.merchandise__title__container h1 {
    color: white;
    font-family: "Bungee";
    font-size: 3rem;
}


/*titulo del taostify de avso de agregado de producto al carrito*/

.aviso__carritoDeCompras h4 {
    font-family: "Bungee";
    font-weight: 300;
}


//CARRITO FINAL


/*titulo y subtitulo de  datos de tarjeta*/

.tituloYSubtitulo__container h2 {
    color: white;
    font-family: "Bungee";
    font-size: 2.5rem;
}

