@import "variables";
@import "generales";
@import "grillas";
@import "containers";
@import "titulos";
@import "parrafos";
@import "botones";
@import "separaciones";
@import "imagenes";
@import "mediaQuaries";

    

  
  .datosPersonayTarjeta__container {
    grid-area: datosPersonayTarjeta__container;
    display: flex;
    flex-direction: column;
  }
  
  .datosPersonayTarjeta__container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .datosPersonayTarjeta__container div label {
    font-family: "Bungee";
    color: grey;
  }
  
  .datosPersonayTarjeta__container div input {
    background-color: greenyellow;
    margin-bottom: 5px;
    width: 80%;
    height: 20px;
    font-family: "Russo One";
    border: none;
    border-bottom: 2px solid silver;
    text-align: center;
    outline: none;
  }
  
  /*Formulario Tarjeta- Titulo de label por encima de input*/
  /*input nombre*/
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container {
    position: relative;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:focus ~ label,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:valid ~ label {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container .underline {
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 85%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  /*Input numero de tarjeta*/
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container {
    position: relative;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input {
    margin-top: 25px;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:focus ~ label,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:valid ~ label {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container .underline {
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 85%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  /*Input cvc de tarjeta*/
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container {
    position: relative;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input {
    margin-top: 25px;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:focus ~ label,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:valid ~ label {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container .underline {
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 85%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  /*Label y select de la seleccion de fechas en la tarjeta de credito*/
  .datosFechasTarjeta__container {
    grid-area: datosFechasTarjeta__container;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .datosFechasTarjeta__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mesDevencimientoDeTarjeta__container {
    margin-bottom: 100px;
  }
  
  .mesDevencimientoDeTarjeta__container label {
    font-family: "Bungee";
    color: black;
  }
  
  .mesDevencimientoDeTarjeta__container select {
    font-family: "Russo One";
    color: white;
    background-color: black;
    border: solid 2px white;
    text-align: center;
  }
  
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container {
    position: relative;
    margin-bottom: 75px;
  }
  
  #anioDeVencimientoDeTarjeta {
    border: none;
    border-bottom: 2px solid silver;
    background-color: greenyellow;
    width: 30%;
    text-align: center;
    font-family: "Russo One";
    outline: none;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container label {
    position: absolute;
    bottom: 0px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: "Bungee";
    color: grey;
  }
  
  #anioDeVencimientoDeTarjeta:focus ~ label,
  #anioDeVencimientoDeTarjeta:valid ~ label {
    transform: translateY(-21px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 40%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container #anioDeVencimientoDeTarjeta:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container #anioDeVencimientoDeTarjeta:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  .carritoFinal__finalizarCompra__container {
    grid-area: carritoFinal__finalizarCompra__container;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carritoFinal__finalizarCompra__container input {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    border: white solid 2px;
    font-family: "Bungee";
    color: white;
  }
  
  @media (max-width:600px) {
    .carritoFinal__finalizarCompra__container input {
      font-size:1.2rem;
    }
  }
  
  .carritoFinal__finalizarCompra__container input:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
  }
  
  /*COMPRA FINALIZADA*/
  .compraFinalizada__container {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.5fr 0.5fr 2.3fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "compraFinalizada__leftMargin navBar compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__titulo__container compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__informacionCompra__container compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__texto__container compraFinalizada__rigthMargin";
  }
  
  .compraFinalizada__leftMargin {
    grid-area: compraFinalizada__leftMargin;
  }
  
  .compraFinalizada__rigthMargin {
    grid-area: compraFinalizada__rigthMargin;
  }
  
  .navBar {
    grid-area: navBar;
  }
  
  #compraFinalizada__informacionCompra__container {
    grid-area: compraFinalizada__informacionCompra__container;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .compraFinalizada__texto__container {
    grid-area: compraFinalizada__texto__container;
  }
  
  .ticket__container {
    background-color: greenyellow;
    display:flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
  }
  
.ticket__container h2 {
    font-size: 2.5rem;
    font-family: "Russo One";
}
  
  @media (max-width:1400px) {
    .ticket__container h2 {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h2 {
      font-size: 2rem;
  
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h2 {
      font-size: 1.9rem;
  
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h2 {
      font-size: 1.7rem;
  
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h2 {
      font-size: 1.5rem;
  
    }
  }
  
  .ticket__container h2 b {
    font-size: 2.7rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container h2 b {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h2 b {
      font-size: 2rem;
  
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h2 b {
      font-size: 1.9rem;
  
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h2 b {
      font-size: 1.7rem;
  
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h2 b {
      font-size: 1.5rem;
  
    }
  }
  
  
  .ticket__container h3 {
    font-size: 2.5rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container h3 {
      font-size: 2.2rem;
  
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h3 {
      font-size: 2rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h3 {
      font-size: 1.9rem;
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h3 {
      font-size: 1.7rem;
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h3 {
      font-size: 1.5rem;
    }
  }
  
  
  .ticket__container h3 b {
    font-size: 2.7rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container h3 b {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h3 b {
      font-size: 2.3rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h3 b {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h3 b {
      font-size: 2rem;
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h3 b {
      font-size: 1.8rem;
    }
  }
  
  
  .ticket__container p {
    font-size: 1.5rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container p {
      font-size: 1rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container p {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width:768px) {
    .ticket__container p {
      font-size: 0.7rem;
    }
  }
  
  .ticket__container p b {
    font-size: 1.7rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container p b {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container p b {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container p b {
      font-size: 1.2rem;
    }
  }
  
  
  @media (max-width:768px) {
    .ticket__container p b {
      font-size: 1rem;
    }
  }
  
