@import "variables";
@import "generales";
@import "grillas";
@import "containers";
@import "titulos";
@import "parrafos";
@import "botones";
@import "separaciones";
@import "imagenes";
@import "mediaQuaries";

    
    

  /*Formulario de ingreso-Index*/


  
  /*texto del index*/
  

  

  
  /*Formulario de Registro-Index*/

  
   
  
  
  
  
  
  .index__margin___left {
    grid-area: index__margin___left;
  }
  
  .index__margin__right {
    grid-area: index__margin__right;
  }
  
  .footer {
    grid-area: footer;
  }
  
  /*Carrito de Compras para Suscriptores*/
  
  
  
  .merchandise__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__title__container" "merchandise__main__container" "footer";
  }
  
  .navBar {
    grid-area: navBar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "logoMenuDeNavegacion__container" "menuDeNavegacion";
  }
  
  
  .logoMenuDeNavegacion__container {
    display: flex;
    justify-content: space-evenly;
  }
  
  
  /*Arreglos menu de navegacion del catalogo de suscriptores*/
  
  .menuDeNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
  }
  
  .menuDeNavegacion {
    margin-left: -30px;
  }
  
  /*Titulo del catalogo de sucriptores*/
  
  .merchandise__title__container {
    grid-area: merchandise__title__container;
    text-align: center;
  }
  
  .merchandise__title__container h1 {
    color: white;
    font-family: "Bungee";
    font-size: 3rem;
  }
  
  @media (max-width:1024px) {
    .merchandise__title__container h1{
      font-size:2rem;
    }
  }
  
  @media (max-width:768px) {
    .merchandise__title__container h1{
      font-size:1.8rem;
    }
  }
  
  @media (max-width:555px) {
    .merchandise__title__container h1{
      font-size:1.5rem;
    }
  }
  
  
  
  /*Catalogo de suscriptores-Cards, carrito y buscador*/
  
  .merchandise__main__container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.3fr 5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "merchandise__main__margin1 merchandise__mainFilter__container merchandise__main__margin2" "merchandise__main__margin1 merchandise__cards__container merchandise__main__margin2";
    grid-area: merchandise__main__container;
  }
  
  .merchandise__mainFilter__container {
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #buscador {
    width: 80%;
    font-family: "Bungee";
    border-radius: 10px;
  }
  
  @media (max-width:1000px) {
    #buscador{
      font-size: 1rem;
    }
  }
  
  @media (max-width:750px) {
    #buscador{
      font-size: 0.9rem;
    }
  }
  
  @media (max-width:350px) {
    #buscador{
      font-size: 0.8rem;
      width:100%;
    }
  }
  
  .merchandise__carritoLogo {
    width: 140px;
    height: 80px;
  }
  
  @media (max-width:1000px) {
    .merchandise__carritoLogo{
      width:120px;
      height:60px;
    }
  }
  
  @media (max-width:750px) {
    .merchandise__carritoLogo{
      width:110px;
      height:50px;
    }
  }
  
  @media (max-width:350px) {
    .merchandise__carritoLogo{
      width:90px;
      height:50px;
    }
  }
  
  #iconCart {
    color: black;
    font-family: "Bungee";
    font-size: 20px;
    position: relative;
  }
  
  #iconCart span {
    position: absolute;
    top: 18%;
    right: 39%;
  }
  
  @media (max-width:1000px) {
    #iconCart span {
      top: 5%;
    }
  }
  
  @media (max-width:750px) {
    #iconCart span {
      font-size: 1.8rem;
      right:34%;
    }
  }
  
  @media (max-width:350px) {
    #iconCart span {
      font-size: 1.5rem;
      top: 10%;
      right:32%;
    }
  }
  
  .carritoFinal__container {
    border-radius: 20px;
  }
  
  
  /*Toastify de aviso en el catalogo de compra para suscriptores*/
  
  .aviso__carritoDeCompras {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: solid 5px black;
  }
  
  .aviso__carritoDeCompras h4 {
    font-family: "Bungee";
    font-weight: 300;
  }
  
  .aviso__carritoDeCompras p {
    font-family: "Russo One";
  }
  
  
  
  
  #btnEliminar {
    font-family: "Bungee";
    background-color: black;
    border: solid white 2px;
    color: white;
  }
  
  #btnEliminar:hover {
    font-family: "Bungee";
    background-color: white;
    border: solid black 2px;
    color: black;
  }
  
  
  
  /*Estilo de las cards dinamicas*/
  
  #merchandise__cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border: solid 2px white;
  }
  
  @media (max-width:580px) {
    #merchandise__cards__container {
      justify-content: center;
    }
  }
  
  
  .card {
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: greenyellow;
    border-radius: 20px;
    margin: 15px;
  }
  
  @media (max-width:1000px) {
    .card{
      width: 200px;
      height:250px;
    }
  }
  
  @media (max-width:750px) {
    .card{
      width: 180px;
      height:220px;
    }
  }
  
  @media (max-width:650px) {
    .card{
      width: 160px;
      height:200px;
    }
  }
  
  .card-image img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
  }
  
  @media (max-width:1000px) {
    .card-image img {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width:650px) {
    .card-image img {
      width: 70px;
      height: 70px;
    }
  }
  
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: "Bungee";
    font-size: 1rem;
  }
  
  /*Boton de cards*/
  
  .btnComprar {
    font-family: "Bungee";
    background-color: black;
    border: solid white 2px;
    color: white;
  }
  
  @media (max-width:1000px) {
    .btnComprar {
      font-size: 1rem;;
    }
  }
  
  .btnComprar:hover {
    font-family: "Bungee";
    background-color: white;
    border: solid black 2px;
    color: black;
  }
  
  /*Boton Eliminar de cards del carrito final*/
  
  .btnEliminar {
    font-family: "Bungee";
    background-color: black;
    border: solid white 2px;
    color: white;
  }
  
  @media (max-width:950px) {
    .btnEliminar {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    .btnEliminar {
      font-size: 1rem;
    }
  }
  
  @media (max-width:600px) {
    .btnEliminar {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width:480px) {
    .btnEliminar {
      font-size: 0.6rem;
    }
  }
  
  .btnEliminar:hover {
    font-family: "Bungee";
    background-color: white;
    border: solid black 2px;
    color: black;
  }
  
  
  /*Estilo texto del toastify de aviso*/
  
  .toastify {
    color: black;
    font-family: "Bungee";
  }
  
  .toast-close {
    color: black;
  }
  
  
  
  .merchandise__main__margin1 {
    grid-area: merchandise__main__margin1;
  }
  
  .merchandise__main__margin2 {
    grid-area: merchandise__main__margin2;
  }
  
  .merchandise__mainFilter__container {
    grid-area: merchandise__mainFilter__container;
  }
  
  /*CARRITO FINAL DE COMPRAS*/
  
  
  
  .carritoFinal__container {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.1fr 0.1fr 0.01fr 0.1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "carritoFinal__leftMargin navBar carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__titulo__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacion__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacionDeEntrega__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__pago__container carritoFinal__rightMargin";
  }
  
  @media (max-width:480px) {
    .carritoFinal__container {
      display: grid;
      grid-template-columns: 0.1fr 2.1fr 0.1fr;
      grid-template-rows: 0.1fr 0.1fr 0.01fr 0.1fr 1fr;
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "carritoFinal__leftMargin navBar carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__titulo__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacion__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__informacionDeEntrega__container carritoFinal__rightMargin" "carritoFinal__leftMargin carritoFinal__pago__container carritoFinal__rightMargin";
    }
  }
  
  .navBar {
    grid-area: navBar;
  }
  
  .carritoFinal__leftMargin {
    grid-area: carritoFinal__leftMargin;
  }
  
  .carritoFinal__rightMargin {
    grid-area: carritoFinal__rightMargin;
  }
  
  /*Titulo de carrito final*/ 
  
  .carritoFinal__titulo__container {
    grid-area: carritoFinal__titulo__container;
  }
  
  /*Informacion de productos en carrito*/
  
  .carritoFinal__informacion__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.3fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "carritoFinal__informacionTitulo__container carritoFinal__informacionTitulo__container carritoFinal__informacionTitulo__container" "carritoFinal__productosInfo__container carritoFinal__productosInfo__container carritoFinal__productosInfo__container" "carritoFinal__productosSubtotal__container carritoFinal__productosSubtotal__container carritoFinal__productosSubtotal__container";
    grid-area: carritoFinal__informacion__container;
  }
  
  .carritoFinal__informacionTitulo__container {
    grid-area: carritoFinal__informacionTitulo__container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  /*estilo titulos de lista del carrito final*/
  
  .carritoFinal__informacionTitulo__container li {
    color: white;
    font-family: "Bungee";
    font-size: 2rem;
  }
  
  @media (max-width:1024px) {
    .carritoFinal__informacionTitulo__container li {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width:768px) {
    .carritoFinal__informacionTitulo__container li {
      font-size: 1rem;
    }
  }
  
  
  /*Esitlo de los contenedores con los productos en el carrito final*/
  
  #carritoFinal__productosInfo__container {
    grid-area: carritoFinal__productosInfo__container;
  }
  
  #carritoFinal__productosInfo__container div div {
    margin-left: 190px;
  }
  
  .compraFinal__informacionProducto__container {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .compraFinal__informacionProducto__container li {
    color: black;
    font-weight: bolder;
    font-family: "Russo One";
    list-style-type: none;
  }
  
  @media (max-width:600px) {
    
  .compraFinal__informacionProducto__container li {
    font-size:0.8rem;
  }
  }
  
  
  .compraFinal__informacionProducto__container img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  
  @media (max-width:1024px) {
    .compraFinal__informacionProducto__container img {
      width: 70px;
      height: 70px;
    }
  }
  
  @media (max-width:768px) {
    .compraFinal__informacionProducto__container img {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width:480px) {
    .compraFinal__informacionProducto__container img {
      width: 40px;
      height: 40px;
    }
  }
  
  
  
  
  /*Estilo subtotal de carrito de compras*/
  
  #carritoFinal__productosSubtotal__container {
    grid-area: carritoFinal__productosSubtotal__container;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #carritoFinal__productosSubtotal__container div {
    border: solid 2px white;
    border-radius: 5px;
  }
  
  #carritoFinal__productosSubtotal__container div p {
    color: black;
    font-family: "Russo One";
    color: white;
    font-size: 1.5rem;
  }
  
  @media (max-width:1024px) {
    #carritoFinal__productosSubtotal__container div p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    #carritoFinal__productosSubtotal__container div p {
      font-size: 1rem;
    }
  }
  
  /*Carrito Final Formulario de entrega*/
  
  .carritoFinal__informacionDeEntrega__container {
    grid-area: carritoFinal__informacionDeEntrega__container;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carritoFinal__informacionDeEntrega__container div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .carritoFinal__informacionDeEntrega__container div h3 {
    font-family: "Bungee";
    color: white;
    font-size: 2.5rem;
  }
  
  @media (max-width:1024px) {
    .carritoFinal__informacionDeEntrega__container div h3 {
      font-size: 2.2rem;
    }
    
  }
  
  @media (max-width:768px) {
    .carritoFinal__informacionDeEntrega__container div h3 {
      font-size: 2rem;
    }
    
  }
  
  .carritoFinal__informacionDeEntrega__container div p {
    font-family: "Russo One";
    color: white;
    font-size: 1.5rem;
  }
  
  @media (max-width:1024px) {
    .carritoFinal__informacionDeEntrega__container div p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    .carritoFinal__informacionDeEntrega__container div p {
      font-size: 1rem;
    }
  }
  
  .carritoFinal__informacionDeEntrega__container div label {
    font-family: "Bungee";
    color: white;
  }
  
  .carritoFinal__informacionDeEntrega__container div input {
    font-family: "Russo One";
    color: black;
    background: linear-gradient(to left, silver, white);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    height: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  /*Carrito Final datos de pago*/
  .carritoFinal__pago__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "carritoFinal__tarjeta__container" "carritoFinal__finalizarCompra__container";
    grid-area: carritoFinal__pago__container;
  }
  
  .carritoFinal__tarjeta__container {
    grid-area: carritoFinal__tarjeta__container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "tituloYSubtitulo__container" "carritoFinal__datosDeTarjeta__container";
  }
  
  .tituloYSubtitulo__container {
    grid-area: tituloYSubtitulo__container;
    text-align: center;
  }
  
  
  .carritoFinal__datosDeTarjeta__container {
    display: flex;
    justify-content: center;
  }
  
  .tarjeta__finalizarCompra__container {
    grid-area: tarjeta__finalizarCompra__container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "imagenChip__container imagenChip__container" "datosPersonayTarjeta__container datosFechasTarjeta__container";
    background-color: greenyellow;
    border-radius: 20px;
    width: 40%;
    height: 300px;
    box-shadow: 0 0 10px #fff;
  }
  
  
  @media (max-width:1300px) {
    .tarjeta__finalizarCompra__container {
      width: 50%;
      height: 300px;
    }
  }
  
  @media (max-width:768px) {
    .tarjeta__finalizarCompra__container {
      width: 70%;
      height: 270px;
    }
  }
  
  @media (max-width:600px) {
    .tarjeta__finalizarCompra__container {
      width: 85%;
      height: 230px;
    }
  }
  
  @media (max-width:480px) {
    .tarjeta__finalizarCompra__container {
      width: 100%;
      height: 230px;
    }
  }
  
  .tituloYSubtitulo__container h2 {
    color: white;
    font-family: "Bungee";
    font-size: 2.5rem;
  }
  
  @media (max-width:1024px) {
    .tituloYSubtitulo__container h2 {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width:768px) {
    .tituloYSubtitulo__container h2 {
      font-size: 2rem;
    }
  }
  
  .tituloYSubtitulo__container p {
    color: white;
    font-family: "Russo One";
    font-size: 1.5rem;
  }
  
  @media (max-width:1024px) {
    .tituloYSubtitulo__container p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:768px) {
    .tituloYSubtitulo__container p {
      font-size: 1rem;
    }
  }
  
  .imagenChip__container {
    grid-area: imagenChip__container;
    display: flex;
  }
  
  .imagenChip__container img {
    margin-top: 20px;
    padding-left: 40px;
    width: 40px;
    height: 40px;
  }
  
  .datosPersonayTarjeta__container {
    grid-area: datosPersonayTarjeta__container;
    display: flex;
    flex-direction: column;
  }
  
  .datosPersonayTarjeta__container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .datosPersonayTarjeta__container div label {
    font-family: "Bungee";
    color: grey;
  }
  
  .datosPersonayTarjeta__container div input {
    background-color: greenyellow;
    margin-bottom: 5px;
    width: 80%;
    height: 20px;
    font-family: "Russo One";
    border: none;
    border-bottom: 2px solid silver;
    text-align: center;
    outline: none;
  }
  
  /*Formulario Tarjeta- Titulo de label por encima de input*/
  /*input nombre*/
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container {
    position: relative;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:focus ~ label,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:valid ~ label {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container .underline {
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 85%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .numeroDeTarjerta__container input:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  /*Input numero de tarjeta*/
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container {
    position: relative;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input {
    margin-top: 25px;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:focus ~ label,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:valid ~ label {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container .underline {
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 85%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .nombreDeTarjeta__container input:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  /*Input cvc de tarjeta*/
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container {
    position: relative;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input {
    margin-top: 25px;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:focus ~ label,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:valid ~ label {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container .underline {
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 85%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosPersonayTarjeta__container .cvcDeTarjeta__container input:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  /*Label y select de la seleccion de fechas en la tarjeta de credito*/
  .datosFechasTarjeta__container {
    grid-area: datosFechasTarjeta__container;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .datosFechasTarjeta__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mesDevencimientoDeTarjeta__container {
    margin-bottom: 100px;
  }
  
  .mesDevencimientoDeTarjeta__container label {
    font-family: "Bungee";
    color: black;
  }
  
  .mesDevencimientoDeTarjeta__container select {
    font-family: "Russo One";
    color: white;
    background-color: black;
    border: solid 2px white;
    text-align: center;
  }
  
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container {
    position: relative;
    margin-bottom: 75px;
  }
  
  #anioDeVencimientoDeTarjeta {
    border: none;
    border-bottom: 2px solid silver;
    background-color: greenyellow;
    width: 30%;
    text-align: center;
    font-family: "Russo One";
    outline: none;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container label {
    position: absolute;
    bottom: 0px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: "Bungee";
    color: grey;
  }
  
  #anioDeVencimientoDeTarjeta:focus ~ label,
  #anioDeVencimientoDeTarjeta:valid ~ label {
    transform: translateY(-21px);
    font-size: 10px;
    color: black;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 40%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container #anioDeVencimientoDeTarjeta:focus ~ .underline:before,
  .carritoFinal__datosDeTarjeta__container .tarjeta__finalizarCompra__container .datosFechasTarjeta__container .anioDeVencmientoDeTarjeta__container #anioDeVencimientoDeTarjeta:valid ~ .underline:before {
    transform: scaleX(1);
  }
  
  .carritoFinal__finalizarCompra__container {
    grid-area: carritoFinal__finalizarCompra__container;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carritoFinal__finalizarCompra__container input {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    border: white solid 2px;
    font-family: "Bungee";
    color: white;
  }
  
  @media (max-width:600px) {
    .carritoFinal__finalizarCompra__container input {
      font-size:1.2rem;
    }
  }
  
  .carritoFinal__finalizarCompra__container input:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
  }
  
  /*COMPRA FINALIZADA*/
  .compraFinalizada__container {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.5fr 0.5fr 2.3fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "compraFinalizada__leftMargin navBar compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__titulo__container compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__informacionCompra__container compraFinalizada__rigthMargin" "compraFinalizada__leftMargin compraFinalizada__texto__container compraFinalizada__rigthMargin";
  }
  
  .compraFinalizada__leftMargin {
    grid-area: compraFinalizada__leftMargin;
  }
  
  .compraFinalizada__rigthMargin {
    grid-area: compraFinalizada__rigthMargin;
  }
  
  .navBar {
    grid-area: navBar;
  }
  
  #compraFinalizada__informacionCompra__container {
    grid-area: compraFinalizada__informacionCompra__container;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .compraFinalizada__texto__container {
    grid-area: compraFinalizada__texto__container;
  }
  
  .ticket__container {
    background-color: greenyellow;
    display:flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
  }
  
.ticket__container h2 {
    font-size: 2.5rem;
    font-family: "Russo One";
}
  
  @media (max-width:1400px) {
    .ticket__container h2 {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h2 {
      font-size: 2rem;
  
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h2 {
      font-size: 1.9rem;
  
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h2 {
      font-size: 1.7rem;
  
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h2 {
      font-size: 1.5rem;
  
    }
  }
  
  .ticket__container h2 b {
    font-size: 2.7rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container h2 b {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h2 b {
      font-size: 2rem;
  
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h2 b {
      font-size: 1.9rem;
  
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h2 b {
      font-size: 1.7rem;
  
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h2 b {
      font-size: 1.5rem;
  
    }
  }
  
  
  .ticket__container h3 {
    font-size: 2.5rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container h3 {
      font-size: 2.2rem;
  
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h3 {
      font-size: 2rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h3 {
      font-size: 1.9rem;
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h3 {
      font-size: 1.7rem;
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h3 {
      font-size: 1.5rem;
    }
  }
  
  
  .ticket__container h3 b {
    font-size: 2.7rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container h3 b {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container h3 b {
      font-size: 2.3rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container h3 b {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width:768px) {
    .ticket__container h3 b {
      font-size: 2rem;
    }
  }
  
  @media (max-width:480px) {
    .ticket__container h3 b {
      font-size: 1.8rem;
    }
  }
  
  
  .ticket__container p {
    font-size: 1.5rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container p {
      font-size: 1rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container p {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width:768px) {
    .ticket__container p {
      font-size: 0.7rem;
    }
  }
  
  .ticket__container p b {
    font-size: 1.7rem;
    font-family: "Russo One";
  }
  
  @media (max-width:1400px) {
    .ticket__container p b {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width:1200px) {
    .ticket__container p b {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width:1024px) {
    .ticket__container p b {
      font-size: 1.2rem;
    }
  }
  
  
  @media (max-width:768px) {
    .ticket__container p b {
      font-size: 1rem;
    }
  }
  